.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug files
dev/youtube-response.txt
dev/parsed-captions.json
dev/captions-data.json
coverage/

# Editor directories and files
.history
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.editorconfig
/storybook-static
.npmrc